.reveal h1, h2, h3, h4, h5, h6, p {
  /* text-shadow: 0 0 10px black; */
}

.reveal pre code {
  max-height: 700px;
}

.left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

.right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}

.clear {
  clear: both;
  float: none;
}